* {
    margin: 0;
    padding: 0;
}

body {
    background: url(~/video/video.mp4);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
}
@media (max-width: 767px) {
    .container-responsive {
        padding: 15px;
    }
    .col-responsive {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container-responsive {
        padding: 30px;
    }
    .col-responsive {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container-responsive {
        padding: 45px;
    }
    .col-responsive {
        width: 100%;
    }
}

@media (min-width: 1900px) {
    .container-responsive {
        padding: 60px;
    }
    .col-responsive {
        width: 50%;
    }
}
.konteiner{
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 8%;
}
.input {
    border: 3px solid rgb(127, 170, 170);
    border-radius: 20px;
    background-image: linear-gradient(120deg,#3c3c3c,#585858);
    color: rgb(127, 170, 170);
    padding: 7px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: all 1s;
    max-width: 370px;
   }
   
   .input:focus {
    outline-color: rgb(127, 170, 170);
   }

   .beautiful-button {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 14px 28px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
  }
  
  .beautiful-button:hover {
    background: linear-gradient(to bottom, #2c2f63, #5b67b7);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
  }
  
  .beautiful-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  @keyframes button-shimmer {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
  
  @keyframes button-particles {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
