html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.smcontainer{
  width: 45%;
}

#headerDiv{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.ideaBox{
  width: 85%;
  margin: 10px auto;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid rgb(74, 74, 74);
  box-shadow: 5px 10px #000000; 
}

.ideaNext{
  width: 85%;
  margin: 15px auto;
}
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

button {
  background: transparent;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

button::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
  z-index: 1;
  transition: background 3s;
}

button:hover::before {
  animation: rotate 1s;
  transition: all .5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
.button {
  font-family: inherit;
  width: 7.18em;
  height: 2.81em;
  cursor: pointer;
  background: #000000;
  border: 0.14em solid #0000FF;
  box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
  border-radius: 0.93em;
  transition: all 0.3s;
  color: white;
  font-size: 1.06em;
  text-transform: uppercase;
}

.button:hover {
  width: 7.18em;
  height: 2.81em;
  box-shadow: 0px 0.81em 0.62em rgba(0, 0, 0, 0.25);
  background: blue;
  /*background: #000000;*/
  border-radius: 0.93em;
  transform: translate(0.38em, -0.37em);
}

.button:active {
  transform: scale(0.90)
}

.margin-0{
  margin: 0 !important;
}

.gap-20{
  gap: 0px 350px;
}

.text{
  font-weight: 800;
}